body {
  font-family: 'Open Sans', Roboto, sans-serif;
}

.slider-label {
  font-size: 14px;
}

#salary-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lost-income, h1.title {
  font-family: 'BioRhyme', serif;
  font-weight: 800;
}

.about p {
  font-size: 1rem;
}

.about p.aside {
  font-size: 0.85rem;
}