/* body {
  font: 14px "Century Gothic", Futura, sans-serif;
} */

.slider-label {
  font-size: 14px;
}

#salary-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lost-income, h1.title {
  font-family: "Century Gothic", Futura, sans-serif;
}

.about p {
  font-size: 1rem;
}
